/* Universal Propertys */
html {
  text: 16px;
}

.container {
  width: 1060px;
  margin: 0 auto;
  border: solid;
}
/* End of Unervarsel */

/* Begging of Banner */
header {
  display: flex;
  z-index: 5;
  border: solid;
  border-color: orange;
}

#header {
  display: flex;
  -webkit- display: flex;
  justify-content: space-between;
  -webkit- justify-content: space-between;
  align-items: center;
  -webkit- align-items: center;
  padding: 1rem;
  border: solid;
  border-color: orange;
}

.logo {
  display: flex;
  -webkit- display: flex;
  flex-direction: row;
  -webkit- flex-direction: row;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: solid;
  border-color: orange;
}

a.link {
  padding-left: 1rem;
}

/*Section for banner */
section {
  display: flex;
}

#banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ban_con {
  display: flex;
  border: solid;
  padding: 0 1.5rem;
}

.ban_con.right {
  flex-direction: column;
  border: solid;
  font-weight: bold;
  padding-left: 0rem;
}

.ban_con img {
  height: 30rem;
  width: 35rem;
}

.ban_con.right span h1 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.ban_con.right span h4 {
  font-size: 1rem;
  padding-bottom: 1.5rem;
}

.btn {
  font-size: 1rem;
  text-align: center;
  border: solid;
  background-color: blue;
  padding: .5rem 0;
}
