/* Universal Propertys */
html {
  text: 16px;
  background-color: black;
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
}


.container {
  width: 1160px;
  margin: 0 auto;
  background-color: white;
}

#main-container {
  position: relative;
  top: 4.0rem;
}

/* End of Unervarsel */

/* Begging of header */
header {
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: white;
}

#header {
  display: flex;
  -webkit- display: flex;
  justify-content: space-between;
  -webkit- justify-content: space-between;
  align-items: center;
  -webkit- align-items: center;
  padding: 1rem;
}

.right.logo {
  padding-right: 10.5rem;
  font-family: sans-serif;
}

.left.logo {
  padding-left: 10rem;

}

.logo {
  display: flex;
  -webkit- display: flex;
  flex-direction: row;
  -webkit- flex-direction: row;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

a.link {
  padding-left: 1rem;
}

#mobile-nav {
    display: none;
}
/*Section for banner */

#banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: lightgray;
}

.ban_con.left {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 1.5rem 2rem 1.5rem 2.1rem;
}

.ban_con.right {
  flex-direction: column;
  font-weight: bold;
  width: 40%;
  font-family: sans-serif;
}

.ban_con.left img {
  width: 100%;
}

.ban_con.right span h1 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
  width: 70%;
}

.ban_con.right span h4 {
  font-size: 1rem;
  padding-bottom: 1.5rem;
  width: 70%;
}

.btn span {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  width: 70%;
  padding: .5rem 0;
  background-color: darkgray;
}

.btn span:hover {
  background-color: white;
}

.btn a:visited {
  color: orange;
}

/* Banner Section Complete */

/* Orientation Information */
#jumbo {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.orientation {
  display: flex;
  flex-direction: column;
  width: 56.5%;
  padding: 1.5rem 0rem 1.5rem 2rem;
  margin-right: 2rem;
}

.orientation.one img {
  height: 20rem;
}

.orientation span h1 {
  padding: 2rem 0 1.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.orientation span h3 {
  padding: 2rem 0rem 1rem 0rem;
}

#info {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  padding-top: 1.5rem;
  border-left: solid;
  border-right: solid;
  border-color: lightgray;
  border-width: thin;
}

.img-mobile {
  display: none;
}

.img_con {
  display: flex;
  width: 100%;
  border-top: solid;
  border-bottom: solid;
  border-color: lightgray;
  border-width: thin;
  margin-bottom: .2rem;
}

.img_con:hover {
  background-color: gray;
}

.margin_con {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 1rem;
}

.margin_con img {
  width: 30%;
}

.font_con {
  width: 65%;
  padding-left: 1rem;
}

.title {
  font-size: 1.5rem;
}

.title-text {
  font-size: 1rem;
  padding: .5rem 0;
}

.title-more a {
  color: blue;
}

/* End of orientation Information */

/*Start of learning container */
#learning {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

#learn-header {
  text-align: center;
  padding: 2rem 0rem;
  font-size: 2rem;
  font-weight: bold;
}

#learn-bot {
  display: flex;
  flex-direction: row;
  padding: 2rem 4.6875rem;
}

#learn-top {
  display: flex;
  flex-direction: row;
  padding: 0rem 4.6875rem;
}

.learn-mob span {
  display: none;
}

.learn {
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: left;
  margin-left: 2rem;
}



#force:hover {
  background-color: darkgray;
}

.learn-txt:hover {
  background-color: darkgray;
}

.learn-img img {
  width: 100%;
  height: auto;
  margin-bottom: -.2rem;
}

.learn-txt {
  padding: 1rem 0rem 1.5rem 1rem;
  background-color: white;
}

.learn-txt h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.learn-txt h2 {
  margin-top: .5rem;
  font-size: 1rem;
}

#force {
  padding: 1rem 0rem .6rem 1rem;
  background-color: white;
}

#force h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

#force h2 {
  margin-top: .5rem;
  font-size: 1rem;
}

/* Start of Exhibit section */

#thesis {
  display: flex;
  flex-direction: column;
}

#thesis-title {
  text-align: center;
  padding: 2rem 0rem;
  font-size: 2rem;
  font-weight: bold;
}

#video video {
  width: 100%;
}

.thesis-text h1 {
  padding-top: 1.5rem;
  font-size: 1.5rem;
}

.thesis-text h2 {
  padding-top: .5rem;
  padding-bottom: 1rem;
}

.img_con.thesis {
  display: flex;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
  border: none;
}

#thesis-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 73.8%;
}
/* End of thesis Exhibit */

/*start of footer */
#copyright {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 2rem 2rem;
}


/* Media for Mobile layout */
@media only screen and (max-width: 960px) {

#header {
    padding: 1.5rem 0;
}

.right.logo {
  padding: 0;
}

.left.logo {
  display: none;
}

#nav-link {
  display: flex;
  margin: auto;
}

}

@media only screen and (max-width: 680px) {

#header {
  padding: 1rem 0;
}

.left.logo {
  display: none;
}

#nav-link {
  display: none;
}

#mobile-nav {
  display: flex;
  margin: 0 auto;
}

li {
  margin-right: 3rem;
}

/* orientation section */

.container {
  width: auto;
  margin: 0 auto;
  background-color: white;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: lightgray;
}

.ban_con.left {
  width: 100%;
}

.ban_con.right {
  width: 90%;
}

#banner img {
  margin-top: -1.3rem;
}
.ban_con.right span h1 {
  width: 100%;
}

.btn span {
   width: 100%;
   margin: auto;
   margin-bottom: 2rem;
}

/* orientation Section */
.orientation.one {
  display: none;
}

#info {
  width: auto;

}

.img-desk {
  display: none;
}

.img-mobile {
  display: block;
}

.margin_con {
  flex-direction: column;
  width: 100%;
}

.margin_con img {
  width: 80%;
  height: 50%;
}

.font_con {
  width: 100%;
  margin-top: 1rem;
}
/* Learning Section */
#learning {
  background-color: white;
}

#learn-top {
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

#learn-bot {
  flex-direction: column;
  align-items: center;
  margin-top: -2rem;
  z-index: 0;
}

.learn-mob span {
  display: flex;
  width: 100%;
  font-size: 2rem;
  background-color: darkgray;
  padding: .5rem 0 .5rem .5rem;
  box-shadow: 5px 5px 1px #888888;

}

.learn-mob {
  width: 140%;
  align-items: center;
  height: 1.8rem;
  margin-bottom: 2rem;
}


.learn.mid img {
 width: 100%;
 margin-right: 1.5rem;
 }

.learn-mob:hover {
  height: 23.0rem;
  transition: 0s ease-in-out;
}

.learn {
  display: none;
}

.learn-mob:hover .learn {
  display: block;
}

/* Thesis Container */

#thesis-right {
  display: none;
}

.thesis-text {
  display: none
}

#video {
  width: 177%;
  margin-left: -2rem;
}

#video video {
  width: 100%;
}

/*footer */
#copyright a {
  display: none;
}

#copyright {
  display: inline;
}

  }
