/* Universal Propertys */
html {
  text: 16px;
}

.container {
  display: flex;
  width: 1260px;
  border: solid;
  margin: 0 auto;
}
/* End of Unervarsel */

/* Begging of Banner */
header {
  display: flex;
  z-index: 5;
  border: solid;
  border-color: orange;
}

#banner {
  display: flex;
  -webkit- display: flex;
  justify-content: space-between;
  -webkit- justify-content: space-between;
  align-items: center;
  -webkit- align-items: center;
  padding: 1rem;
  border: solid;
  border-color: orange;
}

.logo {
  display: flex;
  -webkit- display: flex;
  -ms- display: flex;
  flex-direction: row;
  -webkit- flex-direction: row;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: solid;
  border-color: orange;
}

a.link {
  padding-left: 1rem;
}
